<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <!--配置驼峰命名映射-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <!--        配置log4j2日志-->
<!--        <setting name="logImpl" value="LOG4J2"/>-->
<!--        开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!--配置别名-->
    <typeAliases>
        <package name="vo"/>
    </typeAliases>
    <!--配置数据源-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <mapper resource="mapper/RecommendMapper.xml"/>
        <mapper resource="mapper/NewSongMapper.xml"/>
        <mapper resource="mapper/SongMapper.xml"/>
        <mapper resource="mapper/SingerMapper.xml"/>
        <mapper resource="mapper/AlbumMapper.xml"/>
        <mapper resource="mapper/NormalUserMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
    </mappers>
</configuration>