<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NewSongMapper">
    <!--    二级缓存相关-->
    <!--    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <select id="findAll" resultMap="NewSong">
        select newSongId,
               Song.songId, Song.singerId, songTitle, songPlaytimes, songDldtimes,
               Album.albumId, Album.albumTitle, Album.albumPic, Album.albumPubDate, Album.albumPubCom,
               Singer.singerName, Singer.singerSex, Singer.singerThumbnail, Singer.singerIntroduction
        from NewSong, Song, Album, Singer
        where Song.songId=NewSong.songId AND Song.albumId=Album.albumId AND Song.singerId=Singer.singerId
    </select>
    <resultMap id="NewSong" type="com.example.jspmusic.vo.NewSong">
        <result property="newSongId" column="newSongId"/>
        <result property="songId" column="songId"/>
        <association property="song" javaType="com.example.jspmusic.vo.Song">
            <result property="songId" column="songId"/>
            <result property="singerId" column="singerId"/>
            <result property="albumId" column="albumId"/>
            <result property="songTitle" column="songTitle"/>
            <result property="songPlaytimes" column="songPlaytimes"/>
            <result property="songDldtimes" column="songDldtimes"/>
        </association>
        <association property="album" javaType="com.example.jspmusic.vo.Album">
            <result property="albumId" column="albumId"/>
            <result property="singerId" column="singerId"/>
            <result property="albumTitle" column="albumTitle"/>
            <result property="albumPic" column="albumPic"/>
            <result property="albumPubDate" column="albumPubDate"/>
            <result property="albumPubCom" column="albumPubCom"/>
        </association>
        <association property="singer" javaType="com.example.jspmusic.vo.Singer">
            <result property="singerId" column="singerId"/>
            <result property="singerName" column="singerName"/>
            <result property="singerSex" column="singerSex"/>
            <result property="singerThumbnail" column="singerThumbnail"/>
            <result property="singerIntroduction" column="singerIntroduction"/>
        </association>
    </resultMap>
<!--    增加一条新歌记录-->
    <insert id="add" parameterType="java.lang.Integer">
        INSERT INTO NewSong (songId) VALUES (#{songId})
    </insert>
<!--    删除一条新歌记录-->
    <delete id="remove" parameterType="java.lang.Integer">
        DELETE FROM NewSong WHERE newSongId=#{newSongId}
    </delete>
</mapper>